header {
    background-color: red;
}

.sprite {
    background-image: url(/img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-bag {
    width: 36px;
    height: 34px;
    background-position: -10px -10px;
}

.sprite-doc {
    width: 26px;
    height: 32px;
    background-position: -66px -10px;
}

.sprite-fb {
    width: 47px;
    height: 47px;
    background-position: -112px -10px;
}

.sprite-fb-active {
    width: 47px;
    height: 47px;
    background-position: -179px -10px;
}

.sprite-git {
    width: 47px;
    height: 47px;
    background-position: -246px -10px;
}

.sprite-git-active {
    width: 47px;
    height: 47px;
    background-position: -10px -77px;
}

.sprite-hat {
    width: 41px;
    height: 23px;
    background-position: -77px -77px;
}

.sprite-lock {
    width: 20px;
    height: 32px;
    background-position: -138px -77px;
}

.sprite-logo {
    width: 243px;
    height: 41px;
    background-position: -10px -144px;
}

.sprite-mail {
    width: 21px;
    height: 16px;
    background-position: -178px -77px;
}

.sprite-phone {
    width: 21px;
    height: 20px;
    background-position: -219px -77px;
}

.sprite-photo {
    width: 150px;
    height: 148px;
    background-position: -313px -10px;
}

.sprite-skype {
    width: 21px;
    height: 20px;
    background-position: -273px -178px;
}

.sprite-tw {
    width: 47px;
    height: 47px;
    background-position: -314px -178px;
}

.sprite-tw-active {
    width: 47px;
    height: 47px;
    background-position: -381px -178px;
}

.sprite-vk {
    width: 47px;
    height: 47px;
    background-position: -10px -245px;
}

.sprite-vk-active {
    width: 47px;
    height: 47px;
    background-position: -77px -245px;
}
